# FORMATS
*.csv
*.json

# FOLDERS
tst/
datasets/
pickles/
learning/
json/
help/
dict/
__pycache__/
catboost_info/
mlruns/
sql/
notebooks/
custom_functions/
examples/
models_txt/

# FILES
.env
.venv
.private
.vscode
.main_venv
.DS_store
