POSTGRES_DB=myapp
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_NAME=sa
RABBITMQ_USER=rabbituser
RABBITMQ_PASSWORD=rabbitpass
APP_NAME=Event Planner API
APP_DESCRIPTION=API for managing events and users
DEBUG=False
API_VERSION=1.0